body {
  background: #f6fcf8;
  color: black;
  font-family: 'Courier New', Courier, monospace;
 }
 
 .container {
   margin: 10px;
   justify-content: center;
   margin: 0 auto;
 }
 
 .footer {
   background: red;
 }